.idea/
/docker-containers/CloudflareTunnel/.env
/docker-containers/Audiobookshelf/.env
/docker-containers/Syncthing/.env
/docker-containers/OpenProject/.env
/docker-containers/CodeServer/.env
/docker-containers/Audiobookshelf/nginx/certs/audiobookshelf.crt
/docker-containers/Audiobookshelf/nginx/certs/audiobookshelf.key
/docker-containers/FreshRSS/nginx/certs/freshrss.crt
/docker-containers/FreshRSS/nginx/certs/freshrss.key
/docker-containers/n8n/.env
*.key
*.crt
*.pem
/docker-containers/Audiobookshelf/docker-volumes/
/docker-containers/CodeServer/docker-volumes/
